# Ignore node_modules in both server and client
/server/node_modules
/client/node_modules

# Ignore .env files in both server and client
/server/.env
/client/.env

# Common ignored files and directories
node_modules
.env
.DS_Store
dist
build
*.log
*.lock